@{
    ViewData["Title"] = "Bowler Submitted";
}
<!--This Connects the database to this page and allows us to dynamically change the text-->
@model Bowler
@*This allows us to dynamically change the text*@
<h2>@Model.BowlerFirstName has been added!</h2>
<h3>Your movie has been submitted.</h3>
